.trip-thumbnail {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .trip-thumbnail img {
    width: 100%;
  }
  
  .trip-info {
    text-align: center;
  }
  
  .selected {
    border: 2px solid rgb(83, 83, 219);
  }