<div class="container">
  <div class="trip-list">
    <h3>Weather <b>Forecast</b></h3>
    <br />
    <div class="search">
      <input
        type="text"
        placeholder="🔍  Search your trip"
        (input)="search($event)"
      />
    </div>
    <br />
    <ul>
      <li *ngFor="let trip of filteredTrips" (click)="selectTrip(trip)">
        <div class="image-container">
          <img
            [src]="'assets/' + trip.image"
            alt="{{ trip.destination }} Image"
          />
        </div>

        <div [class.selected]="tripSelected" class="trip-destination">
          <b>{{ trip.destination }}</b> <br />
          {{ trip.startDate }} - {{ trip.endDate }}
        </div>
      </li>
    </ul>
  </div>

  <button (click)="openAddTripModal()">Add Trip</button>

  <div
    class="forecast-details"
    *ngIf="selectedTrip && forecasts[selectedTrip.destination]"
  >
    <h2>Forecast for {{ selectedTrip.destination }}</h2>
    <ul>
      <li *ngFor="let day of forecasts[selectedTrip.destination]?.days">
        {{ formatDate(day.datetime) }}
        {{ getWeatherEmoji(day.conditions) }}
        {{ day.tempmax }}°C / {{ day.tempmin }}°C
      </li>
    </ul>
  </div>
</div>

<div class="today-forecast" *ngIf="selectedTrip && todayForecast">
  <h2>Today's Weather in {{ selectedTrip.destination }}</h2>
  <p>Conditions: {{ todayForecast.conditions }}</p>
  <p>
    Temperature: {{ todayForecast.tempmax }}°C / {{ todayForecast.tempmin }}°C
  </p>
</div>

<div class="countdown-timer" *ngIf="selectedTrip">
  <h2>Countdown Timer</h2>
  <p>{{ countdownTimer }}</p>
</div>
